 <li class="list-item">
    <img class="country-flags" src="{{flags.svg}}"
        alt="flags {{name.common}}">
    <p>{{name.common}}</p>
</li> 

<div> 
    <div>
        <img class="country-flags" src="{{flags.svg}}"
        alt="flags {{name.common}}">
        <p>{{name.common}}</p>
    </div>
    
    <ul>
        <li><span class="">Capital:</span> ${capital}</li>
        <li>Population: ${population}</li>
        <li>Languages: ${languages}</li>
        
    </ul>
</div>